@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import "variabels";
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}


.container
{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5%;
    
    .navbar
    {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #aaa;

        .shopBtn
        {
            font-size: 2em;
        }

        .korzinka
        {
            position: relative;

            span
            {
                right: -5px;
                top: -5px;
                position: absolute;
                width: 15px;
                height: 15px;
                background: red;
                display: block;
                border-radius: 50%;
                font-size: .7em;
                display: grid;
                place-items: center;
                color: #fff;
            }
        }

        
    }

    h1
    {
        text-align: center;
        margin: 10px 0;
    }


    .wrapper
    {
        width: 100%;   
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        padding: 20px;
        overflow: hidden;
        
        @include breakpoint(lg) {
            grid-template-columns: repeat(3,1fr);
        }
        @include breakpoint(md) {
            grid-template-columns: repeat(2,1fr);
        }
        @include breakpoint(sm) {
            grid-template-columns: repeat(1,1fr);
        }


        .card
        {
            height: 60vh;
            box-shadow: 0 7px 20px rgba(0,0,0,0.2);
            border-radius: 7px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .product-img
            {
                width: 100%;
                height: 75%;
                background: #000;

                img
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .product-title
            {
                padding: 10px 10px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid #aaa;
                font-size: .9em;
            }
   
            
            button
            {
                margin: 0 10px 10px 10px;
                background: #0982f3;
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 1em;
                color: #fff;

                &:hover
                {
                    opacity: .7;
                }
            }

        }
    }
}







.buys-prodcts
{
    position: fixed;
    right: -100%;
    top: 0;
    width: 35%;
    height: 100vh;
    background: #fff;
    transition: .5s;
    padding: 35px;
    box-shadow: -10px 0px 20px rgba(0,0,0,0.2);
    overflow-y: auto;

    @include breakpoint(lg) {
        width: 50%;
    }
    @include breakpoint(md) {
        width: 70%;
    }
    @include breakpoint(sm) {
        width: 100%;
        padding: 20px;
    }

    .total-box
    {
        display: none;
    }
    
    .close-btn
    {
        position: absolute;
        right: 35px;
        top: 35px;
        font-size: 2em;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        border-radius: 50%;

        @include breakpoint(sm) {
            top: 20px;
            right: 20px;
        }
    }
    
    
    .box
    {
        width: 100%;
        height: 20vh;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        border-radius: 5px;
        overflow: hidden;
        
        h3
        {
            text-align: center;
        }

        
        .product-img
        {
            width: 30%;
            height: 100%;
            background: #000;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            

            @include breakpoint(sm) {
                width: 40%;
            }
            
            img
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .remove-btn
        {
            margin: 20px;
        }
        
        .counter-box
        {
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            border-radius: 5px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            width: 100px;
            
            .counter
            {
                width: 30px;
                text-align: center;
                cursor: default;
            }
            
            
            .plus, .minus
            {
                font-size: 1.5em;
                background: coral;
                height: 100%;
                text-align: center;
                width: 30px;
                cursor: default;
                color: #fff;
            }
        }

        
        .price-product
        {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            
            h3
            {
                @include breakpoint(sm) {
                    font-size: .8em;
                }
            }

            h4
            {
                font-weight: 400;
                margin: 4px 1px 0 0;
            }
        }
    }

    .buy
    {
        button
        {
            width: 100%;
            border: none;
            background: #1041e494;
            padding: 10px;
            color: #fff;
            margin: 10px 0;
            border-radius: 40px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);

            &:hover
            {
                opacity: .7;
            }
        }
    }
    
}


.buys-prodcts.active
{
    right: 0;

   
}




























